In [43]:
import pandas as pd

In [44]:
a=pd.read_csv('assignment 2/Casuality_details.csv')
a

,Accident_Index,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type,Casualty_IMD_Decile
0,2.02E+12,2,1,1,1,23,5,3,0,0,0,0,0,2,1,4
1,2.02E+12,1,1,1,2,36,7,3,0,0,0,0,0,9,1,10
2,2.02E+12,1,1,1,1,24,5,3,0,0,0,0,0,9,1,8
3,2.02E+12,1,1,2,2,59,9,3,0,0,0,3,0,11,1,4
4,2.02E+12,2,1,1,1,28,6,3,0,0,0,0,0,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181379,2.02E+12,1,1,1,1,17,4,3,0,0,0,0,0,9,1,6
181380,2.02E+12,1,2,2,1,17,4,3,0,0,1,0,0,9,-1,-1
181381,2.02E+12,1,3,2,1,21,5,3,0,0,2,0,0,9,1,1
181382,2.02E+12,1,1,1,1,48,8,3,0,0,0,0,0,9,1,-1
181383,2.02E+12,1,2,2,2,48,8,3,0,0,1,0,0,9,1,-1

In [45]:
b=pd.read_csv('assignment 2/MakeModel2016.csv')
b

,Accident_Index,accyr,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,...,Journey_Purpose_of_Driver,Sex_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type,make,model
0,2016010000005,2016,1,8,0,6,0,0,0,0,...,1,1,8,-1,-1,-1,3,1,NaN,NaN
1,2016010000005,2016,2,2,0,18,0,0,0,0,...,6,1,5,124,1,4,4,1,YAMAHA,HW 125 XENTER
2,2016010000006,2016,1,9,0,18,0,2,2,10,...,6,2,7,1461,2,1,10,1,MERCEDES,A180 BLUEEFFICIENCY SPORT CDI
3,2016010000008,2016,1,9,0,18,0,4,5,0,...,6,1,5,1390,1,5,8,1,VOLKSWAGEN,SCIROCCO TSI
4,2016010000016,2016,1,11,0,18,0,1,0,0,...,1,1,8,6692,2,7,9,1,OTHER BRITISH,Missing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252495,2016984131116,2016,1,9,0,18,0,8,0,0,...,6,2,5,1598,1,14,-1,1,MINI,MINI COOPER
252496,2016984131116,2016,2,9,0,18,0,8,0,0,...,2,2,9,1598,2,-1,-1,2,VAUXHALL,ASTRA ENERGY CDTI
252497,2016984131216,2016,1,21,0,18,0,0,0,0,...,1,1,9,-1,-1,-1,3,1,NaN,NaN
252498,2016984131316,2016,1,9,0,18,0,0,1,0,...,6,1,4,1796,1,13,6,1,VAUXHALL,VECTRA SXI 16V
252499,2016984133416,2016,1,9,0,18,0,0,2,0,...,6,1,8,2184,2,5,-1,1,MAZDA,CX-7 SPORT TECH D

In [46]:
c=pd.read_csv('assignment 2/Vehicle_details.csv')
c

C:\Users\ishit\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Accident_Index,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,...,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type,Vehicle_IMD_Decile
0,2.02E+12,1,8,0,6,0,0,0,0,0,...,1,1,51,8,-1,-1,-1.0,3.0,1.0,3.0
1,2.02E+12,2,2,0,18,0,0,0,0,0,...,6,1,23,5,124,1,4.0,4.0,1.0,4.0
2,2.02E+12,1,9,0,18,0,2,2,10,1,...,6,2,36,7,1461,2,1.0,10.0,1.0,10.0
3,2.02E+12,1,9,0,18,0,4,5,0,0,...,6,1,24,5,1390,1,5.0,8.0,1.0,8.0
4,2.02E+12,1,11,0,18,0,1,0,0,0,...,1,1,55,8,6692,2,7.0,9.0,1.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133038,2.02e+12,1,5,0,13,0,0,0,0,0,...,6,1,66,10,1157,1,13.0,-1.0,-1.0,-1.0
133039,2.02e+12,2,9,0,18,0,0,0,0,0,...,6,1,49,8,-1,-1,-1.0,4.0,3.0,4.0
133040,2.02e+12,3,21,1,18,0,0,0,0,0,...,1,1,52,8,12740,2,2.0,3.0,3.0,3.0
133041,2.02e+12,1,21,1,12,0,0,0,0,0,...,6,3,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.0
133042,2.02e+12,2,9,0,18,0,0,1,0,1,...,6,1,50,8,1598,2,NaN,NaN,NaN,NaN

In [47]:
#q1:
z=a.query('Sex_of_Casualty==1')
z

,Accident_Index,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type,Casualty_IMD_Decile
0,2.02E+12,2,1,1,1,23,5,3,0,0,0,0,0,2,1,4
2,2.02E+12,1,1,1,1,24,5,3,0,0,0,0,0,9,1,8
4,2.02E+12,2,1,1,1,28,6,3,0,0,0,0,0,1,1,6
8,2.02E+12,1,1,1,1,21,5,3,0,0,0,0,0,4,1,-1
10,2.02E+12,3,1,1,1,36,7,3,0,0,0,0,0,3,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181378,2.02E+12,1,1,1,1,61,9,3,0,0,0,0,0,21,1,3
181379,2.02E+12,1,1,1,1,17,4,3,0,0,0,0,0,9,1,6
181380,2.02E+12,1,2,2,1,17,4,3,0,0,1,0,0,9,-1,-1
181381,2.02E+12,1,3,2,1,21,5,3,0,0,2,0,0,9,1,1
181382,2.02E+12,1,1,1,1,48,8,3,0,0,0,0,0,9,1,-1

In [48]:
z['Sex_of_Casualty'].count()

107556

In [49]:
z1=a.query('Sex_of_Casualty==2')
z1
z1['Sex_of_Casualty'].count()

73776

In [79]:
#method 2, more apt
a['Sex_of_Casualty'].value_counts()

 1    107556
 2     73776
-1        52
Name: Sex_of_Casualty, dtype: int64

In [50]:
d=pd.read_csv('assignment 2/Accidents_2016.csv')
d

C:\Users\ishit\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (31) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,2.02E+12,519310.0,188730.0,-0.279323,51.584754,1,3,2,1,01-11-2016,...,0,0,5,1,1,0,0,1,1,E01000543
1,2.02E+12,551920.0,174560.0,0.184928,51.449595,1,3,1,1,01-11-2016,...,0,0,4,1,1,0,0,1,1,E01000375
2,2.02E+12,505930.0,183850.0,-0.473837,51.543563,1,3,1,1,01-11-2016,...,0,0,4,1,1,0,0,1,1,E01033725
3,2.02E+12,527770.0,168930.0,-0.164442,51.404958,1,3,1,1,01-11-2016,...,0,0,1,1,1,0,0,1,1,E01003379
4,2.02E+12,510740.0,177230.0,-0.406580,51.483139,1,3,2,1,01-11-2016,...,0,0,1,1,1,0,0,1,1,E01002583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136616,2.02E+12,319273.0,574564.0,-3.265390,55.058998,98,3,2,1,28-10-2016,...,0,0,4,1,2,0,0,2,1,NaN
136617,2.02E+12,316143.0,568615.0,-3.312631,55.005033,98,3,2,2,01-11-2016,...,0,0,1,1,1,0,0,2,1,NaN
136618,2.02E+12,322903.0,573365.0,-3.208249,55.048803,98,3,1,1,27-10-2016,...,0,0,6,1,2,0,0,2,1,NaN
136619,2.02E+12,318673.0,566850.0,-3.272584,54.989597,98,3,1,3,29-10-2016,...,0,0,4,1,1,0,0,2,1,NaN
136620,2.02E+12,308165.0,602737.0,-3.448392,55.310151,98,3,1,2,25-12-2016,...,0,0,1,5,2,0,0,2,1,NaN

In [51]:
df=pd.merge(a,b,on='Accident_Index',how='inner')
df

,Accident_Index,Vehicle_Reference_x,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,...,Journey_Purpose_of_Driver,Sex_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type,make,model
0,2016010X31538,2,1,1,1,25,5,3,0,0,...,6,2,6,-1,-1,-1,-1,-1,NaN,NaN
1,2016010X31538,2,1,1,1,25,5,3,0,0,...,6,1,5,-1,-1,-1,-1,1,NaN,NaN
2,2016010X31762,1,1,1,2,18,4,3,0,0,...,6,2,4,-1,-1,-1,-1,1,NaN,NaN
3,2016010X31762,1,1,1,2,18,4,3,0,0,...,6,1,7,-1,-1,-1,-1,1,NaN,NaN
4,2016010X31762,1,2,2,1,5,1,3,0,0,...,6,2,4,-1,-1,-1,-1,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104370,201697UD71308,1,1,1,1,19,4,3,0,0,...,2,1,4,1388,1,10,-1,1,FORD,FIESTA FREEDOM
104371,201697UD71308,1,1,1,1,19,4,3,0,0,...,1,1,8,-1,-1,-1,-1,-1,FORD,TRANSIT CONNECT 210 ECO-TECH
104372,201697UD71408,2,1,1,2,39,7,3,0,0,...,6,1,6,1598,1,16,-1,-1,VAUXHALL,ASTRA CLUB 8V
104373,201697UD71408,2,1,1,2,39,7,3,0,0,...,6,2,7,1968,2,2,-1,-1,AUDI,Q3 SE TDI QUATTRO S-A
104374,201697UD71408,2,1,1,2,39,7,3,0,0,...,1,1,9,-1,-1,-1,-1,-1,NaN,NaN

In [52]:
df1=pd.merge(df,c,on='Accident_Index',how='inner')
df1

,Accident_Index,Vehicle_Reference_x,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,...,Journey_Purpose_of_Driver_y,Sex_of_Driver_y,Age_of_Driver,Age_Band_of_Driver_y,Engine_Capacity_(CC)_y,Propulsion_Code_y,Age_of_Vehicle_y,Driver_IMD_Decile_y,Driver_Home_Area_Type_y,Vehicle_IMD_Decile
0,2016010X31538,2,1,1,1,25,5,3,0,0,...,6,2,26,6,-1,-1,-1.0,-1.0,-1.0,-1.0
1,2016010X31538,2,1,1,1,25,5,3,0,0,...,6,1,25,5,-1,-1,-1.0,-1.0,1.0,-1.0
2,2016010X31538,2,1,1,1,25,5,3,0,0,...,6,2,26,6,-1,-1,-1.0,-1.0,-1.0,-1.0
3,2016010X31538,2,1,1,1,25,5,3,0,0,...,6,1,25,5,-1,-1,-1.0,-1.0,1.0,-1.0
4,2016010X31762,1,1,1,2,18,4,3,0,0,...,6,2,18,4,-1,-1,-1.0,-1.0,1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158884,201631P278316,2,1,2,2,47,8,3,0,0,...,6,2,22,5,1108,1,14.0,5.0,1.0,5.0
158885,201631P278316,2,2,1,2,22,5,3,0,0,...,1,1,25,5,1598,2,1.0,8.0,1.0,8.0
158886,201631P278316,2,2,1,2,22,5,3,0,0,...,6,2,22,5,1108,1,14.0,5.0,1.0,5.0
158887,201631P278316,2,2,1,2,22,5,3,0,0,...,1,1,25,5,1598,2,1.0,8.0,1.0,8.0
158888,201631P278316,2,2,1,2,22,5,3,0,0,...,6,2,22,5,1108,1,14.0,5.0,1.0,5.0

In [53]:
df2=pd.merge(df1,d,on='Accident_Index',how='inner')
df2

,Accident_Index,Vehicle_Reference_x,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,2016010X31538,2,1,1,1,25,5,3,0,0,...,0,0,4,1,1,0,0,1,1,E01000031
1,2016010X31538,2,1,1,1,25,5,3,0,0,...,0,0,4,1,1,0,0,1,1,E01000031
2,2016010X31538,2,1,1,1,25,5,3,0,0,...,0,0,4,1,1,0,0,1,1,E01000031
3,2016010X31538,2,1,1,1,25,5,3,0,0,...,0,0,4,1,1,0,0,1,1,E01000031
4,2016010X31762,1,1,1,2,18,4,3,0,0,...,0,0,1,1,1,0,0,1,1,E01002265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158884,201631P278316,2,1,2,2,47,8,3,0,0,...,0,0,4,1,1,0,0,2,1,E01027993
158885,201631P278316,2,2,1,2,22,5,3,0,0,...,0,0,4,1,1,0,0,2,1,E01027993
158886,201631P278316,2,2,1,2,22,5,3,0,0,...,0,0,4,1,1,0,0,2,1,E01027993
158887,201631P278316,2,2,1,2,22,5,3,0,0,...,0,0,4,1,1,0,0,2,1,E01027993
158888,201631P278316,2,2,1,2,22,5,3,0,0,...,0,0,4,1,1,0,0,2,1,E01027993

In [54]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158889 entries, 0 to 158888
Data columns (total 92 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   Accident_Index                               158889 non-null  object
 1   Vehicle_Reference_x                          158889 non-null  int64
 2   Casualty_Reference                           158889 non-null  int64
 3   Casualty_Class                               158889 non-null  int64
 4   Sex_of_Casualty                              158889 non-null  int64
 5   Age_of_Casualty                              158889 non-null  int64
 6   Age_Band_of_Casualty                         158889 non-null  int64
 7   Casualty_Severity                            158889 non-null  int64
 8   Pedestrian_Location                          158889 non-null  int64
 9   Pedestrian_Movement                          158889 non-null  int64
 10  Car_Passenger                                158889 non-null  int64
 11  Bus_or_Coach_Passenger                       158889 non-null  int64
 12  Pedestrian_Road_Maintenance_Worker           158889 non-null  int64
 13  Casualty_Type                                158889 non-null  int64
 14  Casualty_Home_Area_Type                      158889 non-null  int64
 15  Casualty_IMD_Decile                          158889 non-null  int64
 16  accyr                                        158889 non-null  int64
 17  Vehicle_Reference_y                          158889 non-null  int64
 18  Vehicle_Type_x                               158889 non-null  int64
 19  Towing_and_Articulation_x                    158889 non-null  int64
 20  Vehicle_Manoeuvre_x                          158889 non-null  int64
 21  Vehicle_Location-Restricted_Lane_x           158889 non-null  int64
 22  Junction_Location_x                          158889 non-null  int64
 23  Skidding_and_Overturning_x                   158889 non-null  int64
 24  Hit_Object_in_Carriageway_x                  158889 non-null  int64
 25  Vehicle_Leaving_Carriageway_x                158889 non-null  int64
 26  Hit_Object_off_Carriageway_x                 158889 non-null  int64
 27  1st_Point_of_Impact_x                        158889 non-null  int64
 28  Was_Vehicle_Left_Hand_Drive                  158889 non-null  int64
 29  Journey_Purpose_of_Driver_x                  158889 non-null  int64
 30  Sex_of_Driver_x                              158889 non-null  int64
 31  Age_Band_of_Driver_x                         158889 non-null  int64
 32  Engine_Capacity_(CC)_x                       158889 non-null  int64
 33  Propulsion_Code_x                            158889 non-null  int64
 34  Age_of_Vehicle_x                             158889 non-null  int64
 35  Driver_IMD_Decile_x                          158889 non-null  int64
 36  Driver_Home_Area_Type_x                      158889 non-null  int64
 37  make                                         131302 non-null  object
 38  model                                        131302 non-null  object
 39  Vehicle_Reference                            158889 non-null  int64
 40  Vehicle_Type_y                               158889 non-null  int64
 41  Towing_and_Articulation_y                    158889 non-null  int64
 42  Vehicle_Manoeuvre_y                          158889 non-null  int64
 43  Vehicle_Location-Restricted_Lane_y           158889 non-null  int64
 44  Junction_Location_y                          158889 non-null  int64
 45  Skidding_and_Overturning_y                   158889 non-null  int64
 46  Hit_Object_in_Carriageway_y                  158889 non-null  int64
 47  Vehicle_Leaving_Carriageway_y                158889 non-null  int64
 48  Hit_Object_off_Carriageway_y                 158889 non-null  int64
 49  1st_Point_of_Impact_y                        158889 non-null  int64
 50  Was_Vehicle_Left_Hand_Drive?                 158889 non-null  int64
 51  Journey_Purpose_of_Driver_y                  158889 non-null  int64
 52  Sex_of_Driver_y                              158889 non-null  int64
 53  Age_of_Driver                                158889 non-null  int64
 54  Age_Band_of_Driver_y                         158889 non-null  int64
 55  Engine_Capacity_(CC)_y                       158889 non-null  int64
 56  Propulsion_Code_y                            158889 non-null  int64
 57  Age_of_Vehicle_y                             158889 non-null  float64
 58  Driver_IMD_Decile_y                          158889 non-null  float64
 59  Driver_Home_Area_Type_y                      158889 non-null  float64
 60  Vehicle_IMD_Decile                           158889 non-null  float64
 61  Location_Easting_OSGR                        158889 non-null  float64
 62  Location_Northing_OSGR                       158889 non-null  float64
 63  Longitude                                    158889 non-null  float64
 64  Latitude                                     158889 non-null  float64
 65  Police_Force                                 158889 non-null  int64
 66  Accident_Severity                            158889 non-null  int64
 67  Number_of_Vehicles                           158889 non-null  int64
 68  Number_of_Casualties                         158889 non-null  int64
 69  Date                                         158889 non-null  object
 70  Day_of_Week                                  158889 non-null  int64
 71  Time                                         158889 non-null  object
 72  Local_Authority_(District)                   158889 non-null  int64
 73  Local_Authority_(Highway)                    158889 non-null  object
 74  1st_Road_Class                               158889 non-null  int64
 75  1st_Road_Number                              158889 non-null  int64
 76  Road_Type                                    158889 non-null  int64
 77  Speed_limit                                  158888 non-null  float64
 78  Junction_Detail                              158889 non-null  int64
 79  Junction_Control                             158889 non-null  int64
 80  2nd_Road_Class                               158889 non-null  int64
 81  2nd_Road_Number                              158889 non-null  int64
 82  Pedestrian_Crossing-Human_Control            158889 non-null  int64
 83  Pedestrian_Crossing-Physical_Facilities      158889 non-null  int64
 84  Light_Conditions                             158889 non-null  int64
 85  Weather_Conditions                           158889 non-null  int64
 86  Road_Surface_Conditions                      158889 non-null  int64
 87  Special_Conditions_at_Site                   158889 non-null  int64
 88  Carriageway_Hazards                          158889 non-null  int64
 89  Urban_or_Rural_Area                          158889 non-null  int64
 90  Did_Police_Officer_Attend_Scene_of_Accident  158889 non-null  int64
 91  LSOA_of_Accident_Location                    158889 non-null  object
dtypes: float64(9), int64(76), object(7)
memory usage: 112.7+ MB

In [85]:
#q2:
df2['Time'].value_counts().sort_values(ascending=False)

18:00    1500
17:00    1365
14:10    1319
15:00    1277
14:00    1171
         ...
04:02       1
03:36       1
05:59       1
03:07       1
03:13       1
Name: Time, Length: 1401, dtype: int64

In [86]:
#q3:
df2['Time'].value_counts().sort_values(ascending=True)

03:13       1
01:52       1
04:11       1
03:59       1
01:44       1
         ...
14:00    1171
15:00    1277
14:10    1319
17:00    1365
18:00    1500
Name: Time, Length: 1401, dtype: int64

In [107]:
#q4:
k=df2[(df2['Vehicle_Type_x']==8)|(df2['Vehicle_Type_x']==9)]
k
k['Vehicle_Type_x'].value_counts()

9    115242
8      5115
Name: Vehicle_Type_x, dtype: int64

In [108]:
k['model'].value_counts()

FIESTA ZETEC                      1029
Missing                            932
FOCUS ZETEC                        618
PRIUS T3 VVT-I CVT                 485
PRIUS T SPIRIT VVT-I CVT           454
                                  ...
ZAFIRA TOURER EXCLUSIV TURBO A       1
SCENIC EXPRESSION DCI                1
CORSA LIFE SEMI-AUTO                 1
C200 CDI SPORT EDITION               1
FELICIA CLASSIC D                    1
Name: model, Length: 8780, dtype: int64

In [109]:
k['make'].value_counts()

VAUXHALL      14957
FORD          14342
VOLKSWAGEN    10278
TOYOTA         7899
BMW            6524
              ...
BEDFORD           2
NISSAN            2
Reva              1
KTM               1
MANITOU           1
Name: make, Length: 128, dtype: int64

In [111]:
#q5:
l=df2[(df2['Accident_Severity']==1)|(df2['Accident_Severity']==2)|(df2['Accident_Severity']==3)]
l
l['Accident_Severity'].value_counts()

3    140215
2     17172
1      1502
Name: Accident_Severity, dtype: int64

In [ ]:
#q6: